.UpdateOrgs-Body {
    z-index: 3;
    border: 1px solid black;
    background-color: white;
    padding: 20px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.UpdateOrgs-heading {
    font-size: 20px;
}

.UpdateOrgs-Org {
    border: 1px solid black;
    background-color: white;
    padding: 20px;
    display: flex;
    margin-bottom: 10px;
    width: 60%;
    justify-content: space-between;
    height: 25px;
    align-items: center;
}

.UpdateOrgs-Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.UpdateOrgs-FormContent {
    display: flex;
}