.ShoppingCart-Body {
    z-index: 3;
    border: 1px solid black;
    background-color: white;
    padding: 20px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 780px) {
    .ShoppingCart-Body {
        width: 80%;
    }
}

.ShoppingCart-Error{
    color: red;
}

.ShoppingCart-Button{
    align-self: center;
    font-size: 18px;
    border-radius: 8px;
    margin: 5px;
    height: 40px;
    border: 2px solid lightgray;
}

.ShoppingCart-Button:hover{
    border: 2px solid gray;
}

.ShoppingCart-Button:active{
    border: 3px solid gray;
}

.ShoppingCart-List{
    width: 70%;
}

.ShoppingCart-ItemLabel{
    font-weight: bold;
}

.ShoppingCart-Item{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.ShoppingCart-Quantity{
    align-self: center;
    width: 10%;
    height: 10%;
}