.LoginPage {
    font-family: Arial, Helvetica, sans-serif;
}
.Login-Header {
    background-color: #e5e8f0;
}
.Signin-Box {
    text-align: left;
    outline:solid lightgray 1px;
    width: fit-content;
    margin: auto;
    line-height: 0.5;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.Seperate-SI-UN {
    display: block;
    margin-bottom: 3em;
}
.Reset-UN-PASS{
    font-size: small;
    padding-top: 20px;
}
.login_displaybox{
    padding-bottom:0px;
    color: rgb(235, 31, 31);
}

.LoginButton {
    float:right;
    border-radius: 8px;
    width: 25%;
    height: 25px;
    border: 2px solid lightgray;
    
}